body{
    background-color:#FCF8E8;}
li{display:inline;
    padding:15px
}
ul{background-color:aquamarine;
text-decoration:none;
}
.h1{margin:0 auto;
margin-left: 600px;
margin-top: 40px;}
.p{height:10px;
width:1000px;
margin-left:250px;}
.i{margin-top:30px;}
.p1{height:35px;
width:770px;
margin-top:50px;}
.row
{margin-left:850px;
margin-bottom:70px;}

.p3{height:30px;
width:770px}
