body{background-color:#E4DCCF;}






.col-sm-4{
margin-right:150px;
margin-top:30px ;
}
.col-sm-6{float:left;

margin-left:0px;
margin-top:30px


}
.h5{
margin:0 auto}
.h6{width:550px}
.ff{margin-left:180px;
}